# IP Range
"iprange": "192.168.1.0/24"

# Interface to use for the arp scan
"interface": "eth0"

# MAC to Domain Name mapping
"mapping":
  - mac: "<MAC>"
    name: "<NAME>"

# hosts config path to write IP - DNS name entries to
output_config: "hosts.conf"

